.card {
    width: 5em;
    height: 7em;
    border-radius: 1em;
    cursor: pointer;
    background: #941B0C;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0);
    transition: transform 1s;
    box-shadow: 0 0 5px #444;

    @include tablet {
        width: 10em;
        height: 12em;
    }

    .card__face {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1em;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card__face--recto {
        z-index: 90;
    }

    .card__face--verso {
        transform: rotateY(180deg);
        background-color: #C48484;
    }

    .card__logo {
        width: 75%;
        height: 75%;
        background: url("../../images/logo.svg")
                    center center / contain
                    no-repeat;
        
    }

    .card__image-container {
        width: 60%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .card__image {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
}

.card__container .clicked {
    transform: rotateY(180deg);
    transition: transform 1s;
}

.card__container .match .card__logo {
    background: none;
}

.card__container .match {
    transform: rotateY(180deg);
    animation: fadeOut 1.5s ease-out forwards;
    animation-delay: 1s;
}

.card__container .timesup .card__logo {
    background: none;
}

.card__container .timesup {
    animation: fadeOut 1.5s ease-out forwards;
    animation-delay: 1s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

